{% extends "app/already_log.html" %}

{% block content %}

<h1>{{ title }}</h1>
<h2>{{ message }}</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <h3>Input what you want to query.</h3>
            <form action="{% url 'sup_query_order_information' username %}" method="post" class="form-horizontal">
                {% csrf_token %}
                <hr />
                <div class="form-group">
                    <label for="order_form" class="col-md-3 control-label">Order To Order</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Please input your order number" name="Ono">
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Query Go!" class="btn btn-default" />
                    </div>
                </div>
                <!--{% if form.errors %}
                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                {% endif %}-->
            </form>
        </section>
    </div>
    <div class="col-md-8">
        <section id="loginForm">
            <form action="{% url 'sup_query_customer_information' username %}" method="post" class="form-horizontal">
                {% csrf_token %}
                <hr />
                <div class="form-group">
                    <label for="tracking_number" class="col-md-3 control-label">Order To Customer</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Please input your order number" name="Ono">
                    </div>
                </div>
                <!--<div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" placeholder="Please input your password" name="password">
                    </div>
                </div>-->
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Query Go!" class="btn btn-default" />
                    </div>
                </div>
                <!--{% if form.errors %}
                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                {% endif %}-->
            </form>
        </section>
    </div>
    <div class="col-md-8">
        <section id="loginForm">
            <form action="{% url 'sup_query_waybill_information' username %}" method="post" class="form-horizontal">
                {% csrf_token %}
                <hr />
                <div class="form-group">
                    <label for="tracking_number" class="col-md-3 control-label">Waybill To Waybill</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Please input the waybill number" name="Wno">
                    </div>
                </div>
                <!--<div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" placeholder="Please input your password" name="password">
                    </div>
                </div>-->
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Query Go!" class="btn btn-default" />
                    </div>
                </div>
                <!--{% if form.errors %}
                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                {% endif %}-->
            </form>
        </section>
    </div>
    <div class="col-md-8">
        <section id="loginForm">
            <form action="{% url 'sup_query_recent_order_by_time' username %}" method="post" class="form-horizontal">
                {% csrf_token %}
                <hr />
                <div class="form-group">
                    <label for="tracking_number" class="col-md-3 control-label">Recent Order</label>
                    <div class="col-md-offset-3 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Query Go!" class="btn btn-default" />
                    </div>
                </div>
                <!--<div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" placeholder="Please input your password" name="password">
                    </div>
                </div>-->
                <!--{% if form.errors %}
                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                {% endif %}-->
            </form>
        </section>
    </div>
    <div class="col-md-8">
        <section id="loginForm">
            <form action="{% url 'sup_query_recent_waybill_by_time' username %}" method="post" class="form-horizontal">
                {% csrf_token %}
                <hr />
                <div class="form-group">
                    <label for="tracking_number" class="col-md-3 control-label">Recent Waybills</label>
                    <<div class="col-md-offset-3 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Query Go!" class="btn btn-default" />
                    </div>
                </div>
                
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock %}